---
import IconExperience from "./icons/IconExperience.astro";

const { title, description, date, enterprise } = Astro.props;
---

<span
    class="absolute flex items-center justify-center w-6 h-6 bg-brand-softer rounded-full -inset-s-3 ring-8 ring-buffer"
>
    <IconExperience />
</span>
<time
    class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
    >{date}</time
>
<h3 class="my-3 text-lg font-semibold text-white opacity-70">{title}</h3>
<h4 class="my-3 text-l font-medium text-fg-brand-strong opacity-90">{enterprise}</h4>
<p class="text-white opacity-80 text-pretty">{description}</p>
