---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Mayo 2025 - Enero 2026",
        title: "Desarrollador Full Stack Trainee",
        enterprise: "Scarlet Subtitling",
        description:
            "Revisión de componentes Angular. Gestión del bases de datos con MongoDB. Participación en  reformas a la plataforma con orientación a objetivos y simplicidad del sistema. Revisiones generales, actualizaciones y mantenimiento de la plataforma en conjunto con asistencia personalizada a los usuarios.",
    },
    {
        date: "Enero 2025 - Mayo 2025",
        title: "Programador Full Stack Trainee",
        enterprise: "The AV School",
        description:
            "Integración de Andreani para envíos de productos y seguimiento de los mismos. Gestión de stock de productos en tienda y en deposito con DUX. Integración de diferentes métodos de pago con NAVE. Revisiones generales, actualización y mantenimiento web."
    },
];
---

<ol class="relative border-s border-default ms-6 md:ms-0">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6 p-6 md:p-8">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
